Description=Pull and run rpi cam docker image
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull joshuabird/rpi_ros2_camera_publisher:latest
ExecStart=/usr/bin/docker run --rm --privileged -v /home/admin/docker_files:/opt/root_ws/host_files -e NODE_NAME='rpi_cam_0' -e COMPRESSION='30' -e WIDTH='1280' -e HEIGHT='720' -e FPS='30' --net=host joshuabird/rpi_ros2_camera_publisher:latest
ExecStop=/usr/bin/docker stop joshuabird/rpi_ros2_camera_publisher:latest
TimeoutSec=1800

[Install]
WantedBy=default.target